services:
  test_postgres_db:
    image: postgres:13.22-alpine3.22
    env_file:
      - .env.test

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 10s
      retries: 5

  backend:
    image: ghcr.io/rekebuba/backend:${IMAGE_TAG:-latest}
    depends_on:
      test_postgres_db:
        condition: service_healthy
    volumes:
      - ./test-reports:/backend/test-reports # Ensure pytest saves here
    env_file:
      - .env.test

    command: >
      sh -c "mkdir -p test-reports &&
             pytest --cov --cov-branch --cov-report=xml:test-reports/coverage.xml"

volumes:
  postgres_data:
