services:
  frontend:
    container_name: frontend_container
    image: ghcr.io/rekebuba/frontend:latest
    ports:
      - "8081:8080"
    env_file:
      - .env.development

    networks:
      - app-network

  backend:
    container_name: backend_container
    image: ghcr.io/rekebuba/backend:latest
    env_file:
      - .env.development
    volumes:
      - ./app/backend/src/:/app/src/
      - ./app/backend/alembic/:/app/alembic/
      - ./app/backend/alembic.ini:/app/alembic.ini

    ports:
      - "8080:8080"

    networks:
      - app-network

  postgres_db:
    container_name: postgres_container
    image: postgres:13.22-alpine3.22
    env_file:
      - .env.development
    ports:
      - "5432:5432"
    networks:
      - app-network

  test_postgres_db:
    container_name: test_postgres_container
    image: postgres:13.22-alpine3.22
    env_file:
      - .env.testing
    ports:
      - "5433:5432"
    networks:
      - app-network

volumes:
  frontend-code:
  backend-code:

networks:
  app-network:
