services:
  frontend:
    container_name: frontend_container
    image: ghcr.io/rekebuba/frontend:latest
    working_dir: /frontend
    ports:
      - "5173:5173"
    volumes:
      - ./app/frontend:/frontend:cached

      # "masking" volume
      - /frontend/node_modules

    networks:
      - app-network
    stdin_open: true
    tty: true

  backend:
    container_name: backend_container
    image: ghcr.io/rekebuba/backend:latest
    working_dir: /backend
    env_file:
      - .env
    volumes:
      - ./app/backend:/backend:cached

      # "masking" volume
      - /backend/.venv
      
    networks:
      - app-network

  postgres_db:
    container_name: postgres_container
    image: postgres:13.22-alpine3.22
    environment:
      - POSTGRES_USER=${DEV_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DEV_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DEV_POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - app-network
    
  test_postgres_db:
    container_name: test_postgres_container
    image: postgres:13.22-alpine3.22
    environment:
      - POSTGRES_USER=${TEST_POSTGRES_USER}
      - POSTGRES_PASSWORD=${TEST_POSTGRES_PASSWORD}
      - POSTGRES_DB=${TEST_POSTGRES_DB}
    ports:
      - "5433:5432"
    networks:
      - app-network

  nginx:
    image: nginx:stable-alpine3.23-slim
    container_name: nginx
    ports:
      - "8080:8080"
      - "443:443"
    volumes:
      - ./app/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./app/nginx/ssl/nginx-selfsigned.crt:/etc/ssl/certs/nginx-selfsigned.crt:ro
      - ./app/nginx/ssl/nginx-selfsigned.key:/etc/ssl/private/nginx-selfsigned.key:ro
      - ./app/frontend/dist:/usr/share/nginx/html:ro
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  frontend-code:
  backend-code:

networks:
  app-network:
