services:
  frontend:
    container_name: frontend_container
    image: ghcr.io/rekebuba/frontend:latest
    working_dir: /ClassEase-Pitch/app/frontend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - IS_DOCKER=true
    volumes:
      - .:/ClassEase-Pitch:cached
    networks:
      - app-network
    stdin_open: true
    tty: true

  backend:
    container_name: backend_container
    image: ghcr.io/rekebuba/backend:latest
    working_dir: /ClassEase-Pitch/app/backend
    ports:
      - "5000:5000"
      - "5678:5678"
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/ClassEase-Pitch:cached

      # Exclude these from being overridden by empty volumes
      - /ClassEase-Pitch/app/backend/.mypy_cache
      - /ClassEase-Pitch/app/backend/.pytest_cache
      - /ClassEase-Pitch/app/backend/__pycache__
      - /ClassEase-Pitch/app/backend/.venv
      
    networks:
      - app-network

    entrypoint: [ "/ClassEase-Pitch/app/backend/entrypoint.sh" ]
    command: [ "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload" ]

  postgres_db:
    container_name: postgres_container
    image: postgres:13.22-alpine3.22
    environment:
      - POSTGRES_USER=${DEV_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DEV_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DEV_POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - app-network
    
  test_postgres_db:
    container_name: test_postgres_container
    image: postgres:13.22-alpine3.22
    environment:
      - POSTGRES_USER=${TEST_POSTGRES_USER}
      - POSTGRES_PASSWORD=${TEST_POSTGRES_PASSWORD}
      - POSTGRES_DB=${TEST_POSTGRES_DB}
    ports:
      - "5433:5432"
    networks:
      - app-network


volumes:
  mysql_data:
  frontend-code:
  backend-code:

networks:
  app-network:
