services:
  test_postgres_db:
    container_name: test_postgres_container
    image: postgres:13.22-alpine3.22
    environment:
      - POSTGRES_USER=${TEST_POSTGRES_USER}
      - POSTGRES_PASSWORD=${TEST_POSTGRES_PASSWORD}
      - POSTGRES_DB=${TEST_POSTGRES_DB}
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 10s
      retries: 5


  backend:
    container_name: backend_container
    image: ghcr.io/rekebuba/backend:latest
    depends_on:
      test_postgres_db:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "8080:8080"

    networks:
      - app-network

  # frontend:
  #   container_name: frontend_container
  #   image: ghcr.io/rekebuba/frontend:latest
  #   ports:
  #     - "5173:5173"
  #   env_file:
  #     - .env

  #   networks:
  #     - app-network



networks:
  app-network:
