services:
  test_postgres_db:
    image: postgres:13.22-alpine3.22
    environment:
      POSTGRES_USER: ${TEST_POSTGRES_USER}
      POSTGRES_PASSWORD: ${TEST_POSTGRES_PASSWORD}
      POSTGRES_DB: ${TEST_POSTGRES_DB}

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $TEST_POSTGRES_USER -d $TEST_POSTGRES_DB"]
      interval: 5s
      timeout: 10s
      retries: 5

  backend:
    image: ghcr.io/rekebuba/backend:${IMAGE_TAG:-latest}
    depends_on:
      test_postgres_db:
        condition: service_healthy
    volumes:
      - ./test-reports:/app/test-reports # Ensure pytest saves here
    env_file:
      - .env

    command: >
      sh -c "mkdir -p test-reports &&
             pytest --cov --cov-branch --cov-report=xml:test-reports/coverage.xml"

volumes:
  postgres_data:
