services:
  frontend:
    container_name: frontend_container
    image: ghcr.io/rekebuba/frontend:latest
    working_dir: /frontend
    ports:
      - "5173:5173"
    volumes:
      - ./app/frontend:/frontend:cached

      # "masking" volume
      - /frontend/node_modules

    networks:
      - app-network
    stdin_open: true
    tty: true

  backend:
    container_name: backend_container
    image: ghcr.io/rekebuba/backend:latest
    working_dir: /backend
    ports:
      - "5000:5000"
      - "5678:5678"
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app/backend:/backend:cached

      # "masking" volume
      - /backend/.venv
      
    networks:
      - app-network

  postgres_db:
    container_name: postgres_container
    image: postgres:13.22-alpine3.22
    environment:
      - POSTGRES_USER=${DEV_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DEV_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DEV_POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - app-network
    
  test_postgres_db:
    container_name: test_postgres_container
    image: postgres:13.22-alpine3.22
    environment:
      - POSTGRES_USER=${TEST_POSTGRES_USER}
      - POSTGRES_PASSWORD=${TEST_POSTGRES_PASSWORD}
      - POSTGRES_DB=${TEST_POSTGRES_DB}
    ports:
      - "5433:5432"
    networks:
      - app-network


volumes:
  frontend-code:
  backend-code:

networks:
  app-network:
