# Docker Compose configuration for testing pushed images
# Uses images from GHCR for backend and frontend, with health checks and no exposed ports
# Note: This configuration is intended for CI/CD testing of pushed images and should not be used for local development due to the lack of volume mounts and exposed ports.

services:
  test_postgres_db:
    container_name: test_postgres_container
    image: postgres:13.22-alpine3.22
    env_file:
      - ./app/backend/.env.testing
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 10s
      retries: 5

  redis:
    container_name: redis_container
    image: redis:8.2-bookworm
    env_file:
      - ./app/backend/.env.testing
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 10s
      retries: 5

  backend:
    container_name: backend_container
    image: ghcr.io/rekebuba/backend:latest
    depends_on:
      test_postgres_db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - ./app/backend/.env.testing
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/api/v1/health/ || exit 1"]
      interval: 5s
      timeout: 10s
      retries: 5

  frontend:
    container_name: frontend_container
    image: ghcr.io/rekebuba/frontend:latest
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080 || exit 1"]
      interval: 5s
      timeout: 10s
      retries: 5

networks:
  app-network:
