.registration-form-container {
    max-width: 80%;
    margin: 0px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

.registration-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.student-form {
    display: flex;
    flex-direction: column;
}

.date-section,
.name-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    overflow: wrap;
}

.parent-section {
    display: flex;
    margin: 20px;
    gap: 15%;
}

.registration-form-group {
    margin-bottom: 15px;
}

.registration-form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

.registration-form-group input,
.registration-form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.registration-form-group input[type="date"] {
    padding-right: 10px;
}

button.submit-btn {
    padding: 12px 20px;
    font-size: 18px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.submit-btn:hover {
    background-color: #218838;
}

button:focus,
input:focus {
    outline: none;
    border-color: #80bdff;
}

@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    .registration-form-group input,
    .registration-form-group select {
        font-size: 14px;
        padding: 8px;
    }

    button.submit-btn {
        font-size: 16px;
    }
}
