.dashboard-logo {
    font-size: 24px;
    font-weight: bold;
}

.dashboard-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.dashboard-nav {
    margin: 0 auto;
    display: flex;
    gap: 5px;
}

.nav-item {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.nav-item:hover {
    background-color: #64748B;
}

.nav-item.active {
    background-color: #3B82F6;
    color: white;
    font-weight: bold;
}

.sidebar {
    width: 220px;
    background-color: #2a3f54;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 90px;
}

.profile-section {
    text-align: center;
    margin-bottom: 30px;
}

.profile-icon {
    font-size: 60px;
    margin-bottom: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 0px;
    margin-left: 30px;
}

.menu ul li {
    margin: 20px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu ul li:hover {
    transform: scale(1.05);
}


.menu ul li svg {
    margin-right: 10px;
}

.content {
    margin-left: 0px;
    flex: 1;
    padding: 30px;
    background-color: #f5f5f5;
    overflow-y: auto;
    margin-top: 93px;
}

.dashboard-header h2 {
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a3f54;
    min-width: 220px;
    top: 100%;
    left: 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0);
    color: white;
    z-index: 1;
}

.dropdown-item {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: 003366;
    /* background-color: #444; */
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #3B82F6;
    transform: scale(1.05);
}

.dropdown:hover .dropdown-content {
    display: block;
}
