/* CSS (StudentDashboard.css) */
/* .dashboard-container {
    display: flex;
    height: 100vh;
} */



/* 
.list-head {
    margin-bottom: 20px;
}

.list-head h3 {
    color: #333;
    font-size: 24px;
} */
