name: deploy to GCP Artifact Registry

on:
  push:
    branches: [doc]
  schedule:
    # Weekly cleanup of old images
    - cron: "0 0 * * 0"
  workflow_dispatch:

env:
  IMAGE_TAG: sha-3c7baee
  ARTIFACT_REPO: us-central1-docker.pkg.dev/gen-lang-client-0537147856/backend

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - uses: actions/checkout@v4

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Authenticate with Google Cloud
    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
        service_account: ${{ secrets.WIF_SERVICE_ACCOUNT }}

    # Set up gcloud CLI
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v2'

    # Authorize Docker to push to Artifact Registry
    - name: 'Configure Docker for GCP'
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev

    - name: 'Push to Artifact Registry'
      run: |
        docker pull ghcr.io/rekebuba/backend:${{ env.IMAGE_TAG }}
        docker tag ghcr.io/rekebuba/backend:${{ env.IMAGE_TAG }} ${{ env.ARTIFACT_REPO }}/backend:${{ env.IMAGE_TAG }}
        docker push ${{ env.ARTIFACT_REPO }}/backend:${{ env.IMAGE_TAG }}
